.dashboard{

flex:1;

padding:30px;

overflow:auto;

background:#edf2f7;

}

.header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.header h1{

font-size:32px;

font-weight:700;

color:#1e293b;

}

.actions{

display:flex;

align-items:center;

gap:15px;

}

.uploadBtn{

background:#2563eb;

color:white;

padding:12px 18px;

border-radius:10px;

cursor:pointer;

font-weight:600;

transition:.3s;

}

.uploadBtn:hover{

background:#1d4ed8;

}

#excelFile{

display:none;

}

.searchBox{

width:300px;

padding:12px;

border-radius:10px;

border:none;

outline:none;

box-shadow:0 2px 10px rgba(0,0,0,.08);

}

.sectionTitle{

font-size:20px;

font-weight:600;

margin:25px 0 15px;

color:#334155;

}
