.sidebar{

width:260px;

height:100vh;

background:#0f172a;

color:white;

display:flex;

flex-direction:column;

padding:25px;

box-shadow:3px 0px 20px rgba(0,0,0,.2);

}

.logo{

display:flex;

align-items:center;

gap:10px;

font-size:24px;

font-weight:700;

margin-bottom:40px;

}

.logo i{

font-size:28px;

color:#3b82f6;

}

.menu{

display:flex;

flex-direction:column;

gap:10px;

}

.menuItem{

display:flex;

align-items:center;

gap:15px;

padding:15px;

border-radius:12px;

cursor:pointer;

transition:.3s;

font-size:15px;

}

.menuItem:hover{

background:#1e293b;

transform:translateX(5px);

}

.menuItem.active{

background:#2563eb;

}

.menuItem i{

width:22px;

text-align:center;

}

.profile{

margin-top:auto;

display:flex;

align-items:center;

gap:10px;

padding-top:25px;

border-top:1px solid rgba(255,255,255,.15);

}

.avatar{

width:45px;

height:45px;

border-radius:50%;

background:#3b82f6;

display:flex;

justify-content:center;

align-items:center;

font-weight:bold;

font-size:18px;

}

.userInfo{

display:flex;

flex-direction:column;

}

.userInfo span:first-child{

font-weight:600;

}

.userInfo span:last-child{

font-size:12px;

opacity:.7;

}
