.tableContainer{

background:white;

padding:20px;

border-radius:15px;

box-shadow:0 4px 15px rgba(0,0,0,.08);

overflow:auto;

margin-top:25px;

}

.projectTable{

width:100%;

border-collapse:collapse;

}

.projectTable thead{

background:#2563eb;

color:white;

}

.projectTable th{

padding:14px;

font-size:14px;

text-align:center;

}

.projectTable td{

padding:12px;

border-bottom:1px solid #ececec;

text-align:center;

font-size:14px;

}

.projectTable tbody tr:hover{

background:#f5f9ff;

}

.statusCompleted{

color:#16a34a;

font-weight:600;

}

.statusProgress{

color:#2563eb;

font-weight:600;

}

.statusDelayed{

color:#dc2626;

font-weight:600;

}

.statusNotStarted{

color:#f59e0b;

font-weight:600;

}